*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

nav{
    display: none;
}



#menu {
  position: fixed;
  top: 0;
  right: -100%; 
  width: 70%; 
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column; 
  padding: 1em;
  gap: 1.5em;
  transition: right 0.3s ease-in-out;
  box-shadow: -2px 0 8px rgba(0,0,0,0.2);
  z-index: 100;
}

#hamburguesa{
    background-color: #F5F5F5;
    border-radius: 12px;
    padding: 0.3em;
    z-index: 101;
    font-weight: bold;
}

#menu a {
  color: #131316;
  font-size: 1.2em;
}

#menu a:first-child {
  margin-top: 4em;
}

#menu.active {
  right: 0;
}

#login{
    background-color: #F5F5F5;
    border-radius: 12px;
    padding: 0.5em;
    font-weight: bold;
    text-align: center;
}

#desktop{
    display: none;
}

#hero{
    text-align: center;
    padding: 3em 1em;
}

h1{
    font-size: 36px;
    font-weight: 500;
    line-height: 38px;
}

h2{
    font-size: 32px;
    font-weight: 400;
    line-height: 34px;
}

h3{
    font-size: 28px;
    font-weight: 500;
}

h4{
    font-size: 18px;
    font-weight: normal;
}

#hero h1{
    padding-bottom: 0.5em;
}

#hero h4{
    padding-bottom: 2em;
}


#hero div{
    display: flex;
    flex-direction: column;
}

.btnStarted{
    background-color: #4891FF;
    color: #FFFFFF;
    padding: 1em;
    border-radius: 16px;
    margin-bottom: 1em;
    font-weight: 500;
}
.btnDemo{
    background-color: #F5F5F5;
    padding: 1em;
    border-radius: 16px;
    color: #131316;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    margin-bottom: 3em;
    font-weight: 500;
}

#parte2{
    background-color: #131316;
    color: #FFFFFF;
    padding: 3em 1em;
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center;  
    gap: 1em;
}

#parte2 img{
    width:100%;
    max-width:340px;
    border-radius:20px;
    margin: 1.5em 0;
}

#parte2 .btnStarted{
    width: 100%;
    display: block;
}


#parte3{
    background-color: #131316;
    
}

#parte3 div{
    padding: 3em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em 1em;
}

#parte3 h2{
    color: #FFFFFF;
}

#parte3 article{
    background-color: #F5F5F5;
    border-radius: 16px;
    padding: 1em;
}

#parte3 p:first-child{
    margin-bottom: 1.5em;
}

strong{
    font-weight: 600;
}

#parte3 p:nth-child(2){
    margin-bottom: 0.3em;
}

#parte4{
    padding: 3em 1em;
}

#parte4 div{
    text-align: center;
    margin-bottom: 2em;
}

#parte4 h2{
    margin-bottom: 1em;
}

#parte4 #simple h2{
    margin-bottom: 0.5em;
}

#parte4 #simple{
    background-color: #F5F5F5;
    padding: 3em;
    border-radius: 16px;
    text-align: left !important;
}

.precio{
    display: flex;
    align-items:baseline;
    margin-top: 3em;
}

#simple .precio p{
    padding-left: 2em;
    font-size: 0.8em;
}

.precio h2{
    margin-bottom: 0;
    margin-right: 0.2em;
}

.check{
    text-align: left !important;
}

.check p{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.check p span{
    padding-right: 0.5em;
}

#parte4 .btnStarted{
    width: 100%;
    display: block;
    text-align: center;
}

#premium{
    background-color: #131316;
    padding: 3em;
    border-radius: 16px;
    color: white;
    text-align: left !important;
}

#parte4 #premium h2{
    margin-bottom: 0.5em;
    text-align: left;
}

#parte4 div:last-child{
    font-size: 0.9em;
    padding: 3em 3em 0em 3em;
}

#features{
    display: flex;
    align-items: center;
    color: black;
    justify-content: center;
    font-weight: bold;
    padding-top: 1em;
    text-align: center;
}

footer{
    background-color: black;
    padding: 3em 1em;
    color: white;
}

#newsletter{
    background-color: #F5F5F5;
    color: black;
    border-radius: 16px;
    padding: 2em;
    margin-top: 1em;
}

#newsletter h4{
    font-weight: 500;
}

footer input{
    padding: 0.5em;
    background-color: #F5F5F5;
    border: 1px solid grey;
    border-radius: 8px;
    font-size: 1em;
}

#subscribe{
    display: flex;
    flex-direction: row;
    gap: 0.8em;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1em;
}
#btnSubscribe{
    border-radius: 8px;
    padding: 0.5em 1em;
    background-color: #4891FF;
    border: 1px solid #4891FF;
    color: white;
    font-size: 1em;
}   


footer div{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 2em;
}

footer div a{
    color:#F5F5F5;
    
}

footer div h4{
    font-weight: 600;
}

#grilla{
  display:grid;  

  grid-template-columns: repeat(2, minmax(0,1fr));
}

#logo1{
    margin-right: 1em;
}

footer p:last-child{
    font-weight: 200;
    font-size: 0.8em;
    margin-top: 1em;
}


#faq { 
    padding: 2em 1em; 
}

#faq #container { 
    max-width: 1200px; 
    margin: 0 auto; 
}

#faq h2 { 
    text-align: center; 
    font-weight: 600; 
    margin-bottom: 1.5em; 
}

#faqMenu{
  list-style: none;
  display:flex; 
  justify-content: center; 
  align-items: center;
  gap: 3em;
  margin:1em auto 2em;
  flex-wrap: wrap;
  border: 1px solid white; 
  background: #F5F5F5; 
  color: #131316;
  padding: 0.5em 1em;
  border-radius: 10px; 
  font-weight: 600;
  cursor: pointer; 
  width: fit-content;
}

#faqMenu li{
    font-weight: normal;
}

#faqMenu li#active{ 
    background:#4891FF; 
    border-color:#4891FF; 
    color:white; 
    padding: 0.8em 1em;
    border-radius: 10px; 
}


#faqContent{ 
    max-width: 960px; 
    margin: 0 auto; 
}

#faqContent #faqGroup{
     padding: 1.25rem 0; 
    }

#faqContent #faqGroup:not(:first-child){ 
    border-top: 1px solid rgba(0,0,0,.15); 
}

#faqContent #faqHeader{
  display: grid; 
  grid-template-columns: 1fr auto; 
  align-items: start;
  gap: 1rem; cursor: pointer;
}

#faqContent #faqHeader .material-symbols-outlined{ 
    font-size: 1.6rem; 
    line-height: 1; 
}

#faqAnswer{
    display: none;
    color: grey;
    margin-top: 1em;
}

#faqAnswer.active{
    display: block;
}

#faqContent #faqAnswer p{ 
    overflow: hidden; 
    margin: 0; 
}

#faqContent #faqGroup.open #faqAnswer{ 
    grid-template-rows: 1fr; 
}

#faqContent #faqGroup.open #faqHeader .material-symbols-outlined{ 
    font-weight: 700; 
}


@media all and (min-width:1200px){
#hamburguesa{
    display: none;
}

header{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2em;
}

#menu{
    position: static;       
    height: auto;
    width: auto;
    background: none;
    box-shadow: none;
    padding-top: 0;
    display: flex;         
    flex-direction: row;   
    align-items: center;
    gap: 2em;           
    transition: none;
    padding: 0em;
    
}

#menu a:first-child {
  margin-top: 0;
}

#menu a{
    color: #131316;
    margin-left: 2em;
    border-bottom: 3px solid transparent;
    transition: 0.3s;
}

#menu a:hover{
    border-bottom: 3px solid #4891FF;
}

#login{
    padding: 0.5em 1.5em;
    transition: 0.3s;
}

#login:hover{
    border-bottom: 3px solid transparent !important;
    background-color: #4891FF;
    color: white;
}

#desktop{
    display: block;
}

#mobile{
    display: none;
}

#hero{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 6em;
}

h1{
    font-size: 64px;
    line-height: 65px;
}

h2{
    font-size: 48px;
    line-height: 50px;
}

h3{
    font-size: 36px;
    font-weight: 500;
}

h4{
    font-size: 20px;
}

#hero h1{
    text-align: left;
    max-width: 80%;
}

#hero h4{
    text-align: left;
    max-width: 50%;
}

#hero div{
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;          
}

.btnStarted, .btnDemo{
    margin-bottom: 0;
    padding: 1em 2em;
    border: transparent 1px solid;
    transition: 0.3s;
  }

.btnStarted:hover, .btnDemo:hover{
    background-color: transparent;
    border: 1px solid #4891FF;
    color: #4891FF;
}

#parte2{
    padding: 6em;
}

#parte2 div{
    max-width: 800px;
}

#parte2 img{
    max-width: 800px;
    padding: 2em 0;
}

#parte2 .btnStarted{
    width: auto;
    display: inline-block;
}

#parte3 div{
    max-width: 1200px;
    margin: 0 auto;
    align-items: flex-start;
    overflow: visible; 
}

#parte3 h2{
    width: 70%;
}


#parte3 #articulos {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
  overflow-x: auto;               
  scroll-snap-type: x mandatory;  
  padding-bottom: 1em;               
}

#parte3 article {
  flex: 0 0 350px;               
  scroll-snap-align: start;       
  border-radius: 16px;
  background-color: #F5F5F5;
  padding: 1em;
}

#parte3 #articulos::-webkit-scrollbar {
  height: 8px;
}
#parte3 #articulos::-webkit-scrollbar-thumb {
  background: rgba(253, 253, 253, 0.2);
  border-radius: 8px;
}

#parte3 #articulos::after{
    content: "";
    flex: 0 0 calc(50vw - 50%);

}

#flex{
    display: flex;
    gap: 2em;
    max-width: 800px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

#contenido{
  max-width:1200px;
  margin:0 auto;
  padding:4rem 0 3em;
  display:grid;
  grid-template-columns: 460px 1fr 1fr 1fr;
  column-gap: 6em;
  row-gap: 2em;
  align-items:start;
}

footer a:first-child{
  grid-column:1;
  grid-row:1;
}

#newsletter{
  grid-column:1;
  grid-row:2;
  margin:0;             
  border-radius:24px;
}

#subscribe input{ 
    flex:1 1 auto; 
    height:56px; 
    border-radius:16px; 
}

#btnSubscribe{ 
    height:56px; 
    border-radius:16px; 
    padding:0 1.25em; 
}

#grilla{
  grid-column:2 / 5;
  grid-row:2;
  grid-template-columns: repeat(3, minmax(0,1fr));
  column-gap: 6em;
  margin:0;      
}

#logo1{ 
    grid-column:1; 
    grid-row:3; 

}

#logo2{ 
    grid-column:1; 
    grid-row:3; 
    margin-left: 2em;
}

footer p:last-child{
  grid-column:1 / -1;
  grid-row:4;
  margin:0;
}



}
